<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP FULLSTACK</title>
</head>
<body>

    <header>
        <%- include('partials/header', { isLoginPage: isLoginPage }); %> 
     </header>
    
     <main>
        <%- include(body)%>
     </main>

</body>
</html>