<header>
  <img src="/images/logo.png">
</header>

<div>
  <form action="login">
    <label for="fullName">Nome completo:</label>
    <input type="text" id="fullName" name="fullName">

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email">

    <label for="telefone">Telefone:</label>
    <input type="number" id="telefone" name="telefone">

    <label for="address">Endereço:</label>
    <input type="text" id="address" name="address">
  </form>

  <button type="text" form="login" name="login">
    Entrar
  </button>

  <span>Recuperar senha</span>
</div>