<header>
  <img src="/assets/logo.svg" alt="logo">
  <a href="">Home</a>
  <a href="">Doador</a>
  <a href="./beneficiario.ejs">Beneficiário</a>
  <a href="">Doação</a>
  <div class="social-icons">
    <a href="">
      <img src="/assets/instagram.svg" alt="">
    </a>
    <a href="">
      <img src="/assets/whatsapp.svg" alt="">
    </a>
    <a href="">
      <img src="/assets/facebook.svg" alt="">
    </a>
  </div>
</header>

<div class="container">
  <div class="explanation-container">
    <img src="./assets/logo.svg" alt="logo">

    <span>Somos um site de doação de alimentos que conecta doadores e organizações beneficentes para combater a fome de forma simples e eficaz.</span>
  </div>

  <a href="" class="register">cadastre-se</a>

  <main>
    <div class="card-link">
      <h3>Doador</h3>
      <p>Doe para o DoaFood e ajude a combater a fome, promovendo segurança alimentar e fazendo a diferença na vida de famílias necessitadas.</p>
      <span>Juntos, podemos construir um mundo onde ninguém passe fome.</span>
      <button>Seja um doador</button>
    </div>
    <div class="card-link">
      <h3>Beneficiário</h3>
      <p>Ser um beneficiário do DoaFood significa ter acesso a alimentos nutritivos e essenciais em momentos de necessidade.</p>
      <span>aliviando a pressão financeira e promovendo segurança alimentar para sua família.</span>
      <button>Seja um Beneficiário</button>
    </div>
    <div class="card-link">
      <h3>Doação</h3>
      <p>Cadastrar sua doação no DoaFood garante entrega eficiente e transparente dos alimentos</p>
      <span>Cadastrar sua doação no DoaFood garante entrega eficiente e transparente dos alimentos</span>
      <button>Doe agora</button>
    </div>
  </main>
</div>